extends ../../../layouts/main

block content
	.welcome.sixteen.columns
		h1.header ¿Quienes somos?
		
		p Somos una empresa dedicada a la compra venta. Somos especialistas en maquinaría industrial, vehiculos y herramientas de todo tipo que nuestro equipo de mecánicos se encarga de revisar y poner a punto. En las descripciones de los artículos se adjuntan vídeos para que se vea el correcto funcionamiento de los mismos. 
		
		p Ajustamos nuestros precios de venta al máximo. Nuestro objetivo es que el cliente este contento con su compra y acuda a nosotros en busca de su próxima compra. Esto se consigue dando el mejor precio.

		p Si no encuentras lo que buscas entre nuestros articulos ponte en contacto con nosotros y te lo buscaremos. 

		p Si tienes algo que vendernos y nos interesa, nos desplazaremos con el camión y maquinaría que haga falta.

		p Nos encargamos de buscar las mejores ofertas de transporte para la entrega de los productos en destino peninsular y Balear.

		br
		.center
			.botoncontacto.enlaceboton
				a(href="/contacto") Solicitar información