extends ../../../layouts/main

block content
	.welcome.sixteen.columns
		h1.header ¿Quieres vender algún artículo?
		
		p No dudes en ponerte en contacto con nosotros para vendernos aquello que no necesitas. Seguro que llegamos a un buen acuerdo. 

		p Maquinaría industrial, vehiculos, herramientas,... Es posible que ese curioso articulo que tienes tambien nos interese. 

		br
		.center
			.botoncontacto.enlaceboton
				a(href="/contacto") Solicitar información